<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoiConvertor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PoiConvertor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <PoiConvertor.Properties.Settings>
      <setting name="DefaultSeparator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="IsStaticLayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseNameFormatString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NameFormatString" serializeAs="String">
        <value>My name is {1} {2}</value>
      </setting>
      <setting name="DescriptionFormatString" serializeAs="String">
        <value>My description is {1}</value>
      </setting>
      <setting name="UseDescriptionFormatString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsInRD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserConnectionString" serializeAs="String">
        <value />
      </setting>
    </PoiConvertor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PoiConvertor.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=127.0.0.1;Port=5432;User Id=postgres;Password=admin;Database=bag;SearchPath=bagactueel,public;</value>
      </setting>
    </PoiConvertor.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>